
.container {width:100%}
#content-column,.content-column,div.sidebar {float: left; clear: none}
.two-sidebars .content-inner {margin-left: 180px; margin-right: 200px}
.sidebar-first .content-inner {margin-left: 180px; margin-right: 0}
.sidebar-second .content-inner {margin-right: 200px; margin-left: 0}
.region-sidebar-first {width: 180px; margin-left: -100%}
.region-sidebar-second {width: 200px; margin-left: -200px}
.at-panel .region,.panel-row {display:inline;float:left}.inset-wrapper {float:left;width:75%}.five-5x20 .row-1 {width:40%}.five-5x20 .row-2 {width:60%}.three-50-25-25 .region,.three-25-50-25 .region,.three-25-25-50 .region,.region-three-inset-right-sidebar,.region-three-inset-left-sidebar {width:25%}.two-50 .region,.two-brick .region,.three-50-25-25 .region-three-50-25-25-first,.three-25-50-25 .region-three-25-50-25-second,.three-25-25-50 .region-three-25-25-50-third,.four-4x25 .region,.four-4x25 .row-1,.four-4x25 .row-2,.five-5x20 .row-1 .region,.six-6x16 .region {width:50%}.three-3x33 .region,.two-33-66 .region,.two-66-33 .region,.region-three-inset-right-inset,.region-three-inset-left-inset,.five-5x20 .row-2 .region,.six-6x16 .panel-row {width:33.333333%}.two-33-66 .region-two-33-66-second,.two-66-33 .region-two-66-33-first,.region-three-inset-left-middle,.region-three-inset-right-middle {width:66.666666%}.three-inset-right .region,.three-inset-right .inset-wrapper {float:right}.two-brick .panel-row {float:none}

#columns, #header-container, #menu-bar #block-os-primary-menu, #footer {
	margin:0 auto;
	width:910px;
}

/*body.navbar-off {
  background:url('../images/body-bg.png') repeat-y 50% 0 #fff;
  }
*/

#header-container .gpanel .region {float: left; clear: none;}
.header-left.header-main.header-right .region-header-second .region-inner {margin-left: 180px; margin-right: 200px;}
.header-left.header-main .region-header-second .region-inner {margin-left: 180px; margin-right: 0;}
.header-main.header-right .region-header-second .region-inner {margin-right: 200px; margin-left: 0;}
.region-header-first {width:180px; margin-left:-100%;}
.region-header-third {width:200px; margin-left:-200px;text-align: right;}
.region-header-second {width:100%;}
