@import url("http://fonts.googleapis.com/css?family=Headland+One");

/* D6 retro css for older themes */
#columns {padding:0 10px;}


body,
#header-container, 
#footer,
#page {
  background: #404040;
  color:#37352B;
  font-family: georgia, serif;
  }

.sidebar {
  color: #ddd;
  }

.biblio-title a, .biblio-title-chicago a,
a, a:visited {
  color:#a3a18c;
  text-decoration: none;
  }

a:hover {
  text-decoration: underline;
  }

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight:normal;
  font-style: italic;
  }

h1#page-title {
  margin-top: 0;
  margin-bottom: 1em;
  font-size:1.3em;
  font-style: italic;
  font-weight:normal;
  }

.links li {
  font-size: .8em;
  }

.region-sidebar-second {
  color: #999;
  }

.region-sidebar-second h2.block-title,
.region-sidebar-first h2.block-title,
.region-sidebar-first #block-os-primary-menu li a {
  color: #50cae9;
  font: 13px/normal "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  font-weight: normal;
  text-transform:uppercase;
  letter-spacing: .5px;
  border-bottom:1px solid #c6c7c2;
  }

.region-sidebar-second li a,
.region-sidebar-first li a {
  color: #bbb;
  font-weight:normal;
  }

p.copy {
  margin-top: 0;
  }

/* LAYOUT ELEMENTS */

#page {

  margin: 0 auto;
  }

.region-sidebar-first,
.region-sidebar-second {
  font-size: .8em;
  line-height: 1.1em;
background:#000;
  }
 
 #columns {
	overflow:hidden;
	background:#FFF;
	padding:0;
} 
  
  #content-column, .region-sidebar-first, .region-sidebar-second {
margin-bottom: -2000px;
padding-bottom: 2000px;
}



#footer {
  padding-top: 14px;
  padding-bottom: 45px;
   }

body.no-sidebars #page  {
  background:#fff;
  }

p.copy a.poweredby {
  background-position: 0 -26px;
  }

/* SIDEBAR ELEMENTS */

.region-sidebar-second,
.region-sidebar-first {
  font-size: 13px;
  line-height: 1.2em;
  }

.region-sidebar-second a,
.region-sidebar-second a:visited,
.region-sidebar-first a,
.region-sidebar-first a:visited {
  color: #e3dfdf;
  }

/* HEADER ELEMENTS */


.region-header-first,
#boxes-box-site_logo {
  width: 139px;
  padding-left: 0;
  }

.region-header-first {
  left: -169px;
  }

#header-container {
  padding-bottom:5px;
  }

body.header-main #header-container,
body.header-main-right #header-container {
  padding-right:298px;
  }

body.header-main .region-header-second,
body.header-main-right .region-header-second {
  padding-left: 22px;
  }

.block-boxes-os_boxes_site_logo {
  display:table-cell;
  vertical-align:middle;
  }

#header-container h1, #header-container h2, #header-container p {
    font-size: 23px;
    line-height: 28px;
    font-weight:normal;
    color:#fff;
    font-family:'Headland One', serif;
    margin: 0;
    }
    
    #header-container h1 {

   /* text-transform:uppercase;*/
    }

#header-container h2 {
  font-size: 16px;
  line-height: 18px;
  font-style:normal;
  }

#header-container p {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 5px;
  }

#header-container h1 a, #header-container h1 a:visited {
    color:#a3a18c;
    }

#header-container h1 a:hover {
    color:#f8f7bd;
    text-decoration: none;
    }

#menu-bar {
  width: auto;
  background: url(../images/navbar.png) 0 0 repeat-x transparent;
  height: 48px;
  padding: 0;
  }
  
#block-os-primary-menu {
	margin-left:0;
	margin-right:0;
	
}

#menu-bar li {
    float:left;
    padding-right: 1px;
    line-height: 48px;
    background: none;
    }

#menu-bar ul.nice-menu li a,
#menu-bar ul.nice-menu li a:visited {
  line-height: 25px;
  text-transform:uppercase;
  color: #fff;
  font-weight:normal;
  font-size: 11px;
  display:block;
  padding: 11px 17px;
  border-right: 1px solid #3b4611;
  }

#menu-bar ul.nice-menu li a:active,
#menu-bar ul.nice-menu li a:hover,
#menu-bar ul.nice-menu li a.active,
#menu-bar ul.nice-menu li.active-trail a {
  background: url(../images/navbar.png) 0 -48px repeat-x transparent;
  text-decoration:none;
  }

.region-sidebar-first #block-os-primary-menu li a,
.region-sidebar-first #block-os-primary-menu li a:visited {
  color: #7e9f06;
  border: none;
  display:block;
  padding-bottom: 2px;
  padding-top: 2px;
  }

.region-sidebar-first #block-os-primary-menu li a:hover {
  text-decoration:none;
  background: #485616;
  color:#fff;
  }
  
   /** NICE MENUS **/
#menu-bar ul.nice-menu ul {
	margin-top:10px;
	border:none;
	}
	
#menu-bar ul.nice-menu ul ul {
	margin-top:0;
}

#menu-bar ul.nice-menu ul ul li {
	margin-bottom:0;
}	
	
#menu-bar ul.nice-menu ul {
	background:#252A2B;
}	
	
#menu-bar ul.nice-menu ul li {
	margin-top:0;
}
	
#menu-bar ul.nice-menu ul li a {
	color:#FFF;
	background:none !important;
	padding:5px 15px;
}



ul.nice-menu-right li.menuparent {
    background: none;
}


	
ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent {
    background: none;
}	

ul.nice-menu-right li.menuparent, ul.nice-menu-right li li.menuparent,
ul.nice-menu-left li.menuparent, ul.nice-menu-left li li.menuparent,
ul.nice-menu-right li.menuparent:hover, ul.nice-menu-right li li.menuparent:hover,
ul.nice-menu-left li.menuparent:hover, ul.nice-menu-left li li.menuparent:hover {
    background: none;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
    padding-left: 0;
}

ul.nice-menu-right a, ul.nice-menu-right ul a {
    padding-right: 0;
}	



/* MAIN CONTENT AREA */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }
  
 /* TAXO OR BOOK DISPLAYED AS NAV */ 
.navigation ul li, .navigation ul.menu li {
    background-color: #000;
}


.navigation ul li a:hover {
  background-color: #FFF;
color: #000;
}
