/* D6 retro css for older themes */
#columns {padding:0 10px;}


body  {
  color:#37352B;
  background: url('../images/bodyBg.png') repeat-x scroll 0 0 #F7F7F9;
 }   
 


  body.logged-in {
 	background: url("../images/bodyBg.png") repeat-x scroll 0 0 #F7F7F9;
 	}
  


/* TYPOGRAPHY*/
.biblio-title a, .biblio-title-chicago a,
a, a:visited {
    color:#106599;
    text-decoration: none;
    }

a:hover {
    text-decoration: underline;
    color:#106599;
}
    
 .teaser-extra a {color:#991122;font-size:.92em;}
    
 .node .node-inner .links li a {
   text-decoration:underline;
}   

.more-link a {
  color:#991122;text-decoration:underline;
}
    
    
.sidebar .block-boxes-os_boxes_site_info h1 { font-size: 1.8em;}
.sidebar .block-boxes-os_boxes_site_info h1 a {color:#991122;}
.sidebar .block-boxes-os_boxes_site_info h1 a:hover {color:#106599;text-decoration:none;}

.sidebar .content h2 {margin-top: 0.2em;font-size:1.14em;color:#555;}

h2, h3, h4 {
  margin-bottom: 0;
  margin-top: 1em;
  font-weight:bold;
 }

h1#page-title {
  margin-top: 0;
  font-size:1.4em;
  color:#000;
  }

h2.block-title {
  font-size:1.2em;
  }

#content-column h2.block-title a {
  color:#106599;
  }


.sidebar h2.block-title {
  color: #219910;
  font: 13px/normal Arial,Verdana,sans-serif;
  font-weight: normal;
  text-transform:uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px;
  background:url('../images/greenHdrBg.gif') no-repeat; background-position: left;padding-left: 14px;
  }

.region-sidebar-second h2.block-title, .region-sidebar-second h2.block-title a {
  color:#219910;
  }

.sidebar .views-row {
  margin-bottom: 1.8em;
  }
  
.sidebar li a {
  color: #757575;
  font-weight:normal;
  }
  
.sidebar li a:hover {
  color: #106599;
}
  
  .region-sidebar-first #block-os-primary-menu ul.menu {margin-left:1px;border-top:none;}
  .region-sidebar-first #block-os-secondary-menu ul.menu {margin-left:0;}
  .region-sidebar-first #block-os-primary-menu ul.menu li,
  .region-sidebar-second #block-os-primary-menu ul.menu li, 
  .region-sidebar-first #block-os-secondary-menu ul.menu li,
  .region-sidebar-second #block-os-secondary-menu ul.menu li {background:#FFF;padding-bottom:10px;}
  
  .region-sidebar-first #block-os-primary-menu ul.menu li a,
  .region-sidebar-second #block-os-primary-menu ul.menu li a,
  .region-sidebar-first #block-os-secondary-menu ul.menu li a {color:#757575;font-weight:bold;padding-left:1px;text-transform:uppercase;line-height:12px;}
  
  .region-sidebar-second #block-os-primary-menu ul.menu, 
  .region-sidebar-second #block-os-primary-menu ul.menu li a, 
   .region-sidebar-second #block-os-secondary-menu ul.menu li a {color:#757575;font-weight:bold;font-size:12px;text-transform:uppercase;}

p.copy {
  margin-top: 0;
  }
  
  .biblio-title a, .biblio-title-chicago a {
    color:#106599;
}



.field-content a {color:#106599;}

.region-header-first .block-boxes-os_boxes_site_info .boxes-box, 
.region-header-third .block-boxes-os_boxes_site_info .boxes-box, 
.region-header-second .block-boxes-os_boxes_site_info .boxes-box {
	height:84px;background-position:left;padding-left:20px;margin-top: 20px; margin-left: 30px;
	}

/* LAYOUT ELEMENTS */

#page {
background: #fff;
 }

.sidebar {
  font-size: 12px;
  line-height: 1.41em;
  }

.region-header-first
{
  height:125px;
  }



#header-container {
  background: #f7f7f9;
  min-height: 150px;
  }

body.no-sidebars #columns .hg-container,
body.sidebar-second #columns .hg-container,
body.no-sidebars #footer {
  padding-left: 10px;
  }
  

 #content-column, .region-sidebar-first, .region-sidebar-second  {
  padding-top: 15px;
  }


.sidebar-first #content-column .content-inner { border-left:1px dotted #666; }

.sidebar-second #content-column .content-inner { border-right:1px dotted #666; }

.two-sidebars #content-column .content-inner {
   border-right:1px dotted #666;
  border-left:1px dotted #666; 
}

/*SIDEBAR ELEMENTS */

body.navbar-off .region-sidebar-first {
  padding-top: 0;
  }

.region-sidebar-first #block-os-primary-menu {
margin: 8px -15px 0 3px;
  padding: 0 0 30px 0;
  }

/* HEADER ELEMENTS */

#header-container .column {
  padding-top: 15px;

  }


#header-container h1,
#header-container h2,
#header-container p {
    font-size: 35px;
    line-height: 38px;
    font-weight:normal;
    color:#6d7175;
    font-family:arial;
    margin: 0;
    }

#header-container h2 {
  font-size: 19px;
  line-height: 19px;
  font-style:normal;
  }

#header-container p {
  font-size: 15px;
  line-height: 17px;
  }

#header-container h1 a,
#header-container h1 a:visited {
    color:#991122;
    }

#header-container h1 a:hover {
    color:#106599;
    text-decoration: none;
    }

/* MAIN NAVBAR */
#menu-bar {
  background: #FFF;
  padding:0 10px 0 0;
  border-bottom: 5px solid #d5d3d4;
}

#menu-bar ul
{
padding: 0;
color: #FFF;
margin:0;
}

#menu-bar ul li { display: inline;  }

#menu-bar ul li a
{
padding: .5em 1.38em;
background:#FFF;
color: #444;
text-decoration: none;
text-transform:uppercase;
font-size: 12px;
margin-right:1px;
}

#menu-bar ul li a:hover {
background:#106599;
color: #FFF;
}


#menu-bar ul li a.active {
background:#D4D4D5;
color: #333;
}


  /** NICE MENUS **/
ul.nice-menu,
ul.nice-menu ul {
	border-top:none;
	}
 	
#menu-bar ul.nice-menu ul {
	margin-top:-8px;

	}
	
#menu-bar ul.nice-menu ul ul {
	margin-top:0;
}

#menu-bar ul.nice-menu ul ul li {
	margin-bottom:0;
}

#menu-bar ul.nice-menu ul li {
	margin-top:0;
	background:#CCC;
	
}

#menu-bar ul.nice-menu ul,	
#menu-bar ul.nice-menu ul li a {
	color:#333;
	background:#CCC;
	border-bottom:none;
	margin-right:0;
}




	
.sidebar ul.menu li {
	list-style-image: none;	
	}	

	
ul.nice-menu-right li.menuparent {
    background: none;
}

ul.nice-menu-right li.menuparent a:hover {
    background: none;
}	
	
	


/* FOOTER  */

#footer {
  padding-top: 0;
  }

#footer .wrap {
  padding: 0 30px;
  position:relative;
  bottom: -42px;
  }
  
  #powerby-login {
  margin-top: 40px;
}

/* NODES */

.submitted {
  color: #a1b1b1;
  border-bottom: 1px solid #a1b1b1;
  display:block;
  }